layout {
    default_tab_template {
        pane size=1 {
            borderless true
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 {
            borderless true
            plugin location="zellij:status-bar"
        }
    }

    tab name="Backend" focus=true {
        pane command="bun" {
            args "start:backend"
        }
    }

    tab name="Frontend" {
        pane command="bun" {
            args "start:frontend"
        }
    }

    tab name="Base" {
        pane cwd="apps"  // Use cwd instead of command="cd"
    }
}